.active-track-container {
    background-color: #8673A1; /* pearl violet */
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    width: 100%;
  }
  
  .custom-progress {
    height: 6px !important;
  }
  
  .active-track-item {
    background-color: #f0e6ff !important; /* Light violet */
    border: none !important;
    margin-bottom: 5px;
    border-radius: 4px;
  }
  
  .track-item {
    background-color: #f5f0fd;
    border: none !important;
    margin-bottom: 5px;
    border-radius: 4px;
  }
  
  /* Override Bootstrap's default active color */
  .list-group-item.active {
    background-color: #f0e6ff !important;
    border-color: #f0e6ff !important;
    color: #212529 !important; 
  }
  
  .audio-player-container {
    max-width: 400px;
    margin: 0 auto;
  }
  

#video-player {
    position: fixed !important; 
    left: -9999px !important;
    pointer-events: none !important;
    opacity: 0 !important;
  }
  

/*  seek bar */
.custom-range {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 10px;
  background: #e0e0e0;
  transition: background 0.3s ease;
}

.custom-range::-webkit-slider-runnable-track {
  height: 8px;
  border-radius: 10px;
  background: #e0e0e0;
}

.custom-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #007bff;
  border-radius: 50%;
  cursor: pointer;
}

.custom-range::-moz-range-track {
  height: 8px;
  border-radius: 10px;
  background: #e0e0e0;
}

.custom-range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #007bff;
  border-radius: 50%;
  cursor: pointer;
}

.custom-range:focus {
  outline: none;
  background: #bbb;
}
