.active-track-container {
    background-color: #8673A1; /* pearl violet */
    padding: 1rem 2rem 0.5rem 2rem ;
    border-radius: 8px;
    margin-bottom: 15px;
    width: 100%;
  }
  
  .custom-progress {
    height: 6px !important;
  }
  
  .active-track-item {
    background-color: #f0e6ff !important; /* Light violet */
    border: none !important;
    margin-bottom: 5px;
    border-radius: 4px;
  }

  .active-track-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .audio-track-thumbnail{
    width: 6rem;
    height: 6rem;
    object-fit: cover;
    margin-right: 2rem;
  }
  
  .track-item {
    background-color: #f5f0fd;
    border: none !important;
    margin-bottom: 5px;
    border-radius: 4px;
  }
  
  /* Override Bootstrap's default active color */
  .list-group-item.active {
    background-color: #f0e6ff !important;
    border-color: #f0e6ff !important;
    color: #212529 !important; 
  }
  
  .audio-player-container {
    max-width: 400px;
    margin: 0 auto;
  }
  

#video-player {
    position: fixed !important; 
    left: -9999px !important;
    pointer-events: none !important;
    opacity: 0 !important;
  }
  

/*  seek bar */
/* .custom-range {
  width: 100%;
  appearance: none;
  height: 6px;
  background: #ddd;
  border-radius: 5px;
  outline: none;
  transition: background 0.3s ease;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.custom-range::-webkit-slider-thumb {
  appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #333;
  cursor: pointer;
  border: none;
}

.custom-range::-moz-range-thumb {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #333;
  cursor: pointer;
  border: none;
}

.custom-range:focus {
  outline: none;
  background: #bbb;
} */
