.logo {
    font-size: 2rem;
    letter-spacing: 0.2rem;
    cursor: pointer;
}

.nav-links {
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links button {
    justify-content: center;
    align-items: center;
}